<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/scrabble.css">
    <title>MY SCRABBLE</title>
  </head>

  <body>
    <header>
      <h1>
        MY SCRABBLE
        <span class="undertitle"><p><em>Ada Developers Academy</p></em></span>
      </h1>
      <nav>
        <a href="/">HOME</a>
        <a href="/score">SCORE</a>
        <a href="/score_many">SCORE MANY WORDS</a>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="copyright">
        &copy;2016 Risha A. Allen
      </div>
    </footer>
  </body>
</html>
