<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/scrabble.css">
    <title>MY SCRABBLE</title>
  </head>

  <body>
    <header>
      <h1 class="headerh1">
        MY SCRABBLE
      </h1>
      <span class="adasignature"><p><em>Ada Developers Academy</p></em></span>
      <nav>
        <ul class="datacontentfield">
          <li class="indexcollection"><a href="/">HOME</a></li>
          <li class="wordscorecollection"><a href="/score">SCORE</a></li>
          <li class="wordsscorecollection"><a href="/score_many">SCORE MANY WORDS</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <!-- <footer>
      <div class="copyright">
        &copy;2016 Risha A. Allen
      </div>
    </footer> -->
  </body>
</html>
