<!DOCTYPE HTML>

<html>
  <head>
    <title>Scrabble Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
      <h1>SCRABBLE</h1>
    <section class="undertitle"><p><em>Ada Developers Academy</em></p></section>
  </head>
      <nav>
        <ul>
          <li class="primary_nav"><a href="/">HOME</a></li>
          <li class="primary_nav"><a href="/score">SCORE</a></li>
        </ul>
      </nav>
<body>
  <main>
    <%=yield %>
  </main>
<footer>
  <section class="footer">
    <p>copyright 2016 Risha A. Allen</p>
  </section>
</footer>
</body>
</html>
