<% if @wordscore %>
<h1>
  The Word: <%= @word %> : has a score of <%= @wordscore %>
<h1>
  <% end %>


<!-- <div class="params">
  <%= params %>
</div> -->

<form action="" method="post" accept-charset="utf-8">

  <label for="scrabble_word">WORD:</label>
  <input
    type="tex"
    placeholder="place word"
    pattern="[A-Za-z]{1,7}"
    name="word"
    value="" id="scrabble_word">

  <input type="submit" value="Submit">

</form>

<header class="header2">
  <h1 class="headerh1">
    MY SCRABBLE
  </h1>
  <span class="adasignature"><p><em>Ada Developers Academy</p></em></span>
  <nav>
    <ul class="datacontentfield">
      <li class="indexcollection"><a href="/">HOME</a></li>
      <li class="wordscorecollection"><a href="/score">SCORE</a></li>
      <li class="wordsscorecollection"><a href="/score_many">SCORE MANY WORDS</a></li>
    </ul>
  </nav>
</header>

<section>
  <h2 class="heading2">Lets Play!</h2>
  <!-- <img class="img1" src="/images/alphabet2.jpg" alt=""> -->
    <article class="instructions">
      <h1> Directions </h1>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </article>

    <article class="instructions">
      <h1> Directions </h1>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </article>
</section>
