<% if @wordscore %>
<h1>
  The Word: <%= @word %> : has a score of <%= @wordscore %>
<h1>
  <% end %>


<div class="params">
  <%= params %>
</div>

<form action="" method="post" accept-charset="utf-8">

  <label for="user_sees_this_box">WORD:</label>
  <input type="textarea" name="word" value="" id="user_sees_this_box">

  <input type="submit" value="Submit">
</form>
